:root {
  --body_bg_color: #51367b;
  --regular_text_color: #eadba0;
  --cv_link_color: #564a70;
  --navbar_body_color: #34283f;
  --navbar_text_color: #eadba0;
  --navbar_hover_text_color: #baa965;
  --navbar_shadow_color: #1a1122;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: var(--body_bg_color);
  color: var(--regular_text_color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav_bar_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.nav_bar {
  display: flex;
  gap: 30px;
  background: var(--navbar_body_color);
  padding: 12px 40px;
  border-radius: 50px;
  box-shadow: 0 4px 10px var(--navbar_shadow_color);
}

.nav_bar a {
  color: var(--navbar_text_color);
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  border: none;
  outline: none;
}

.nav_bar a:hover {
  color: var(--navbar_hover_text_color);
}

.content_section {
  height: 90%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--regular_text_color) transparent;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav_section button {
  background: none;
  color: var(--regular_text_color);
  font-size: 1.2rem;
  cursor: pointer;
  padding-bottom: 5px;
  transition: color 0.3s ease;
  border: none;
  outline: none;
}

.nav_section button:hover {
  color: var(--navbar_hover_text_color);
}

.nav_section button.active {
  border-bottom: 2px solid var(--regular_text_color);
}

.separator {
  color: var(--regular_text_color);
}

.slider_viewport {
  width: 80%;
  max-width: 800px;
  overflow: hidden;
}

.slider_track {
  display: flex;
  width: 200%; 
  transition: transform 0.4s ease-in-out; 
}

.slide {
  width: 50%; 
  padding: 0 20px;
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pfp img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}